body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #1877F2;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.button {
    display: inline-block;
    background-color: #1877F2;
    color: white;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #166FE5;
}

.login-button {
    border: 1px solid white;
    float: right;
}

.logout-button {
    border: 1px solid red;
    float: right;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.avviso {
    text-align: center
}

.footer {
    background-color: #1877F2;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 14px;
}